<ng-container *ngIf="(settingTime$ | async); else timeDisplay">
    <div class="time-input-form">
        <mat-form-field>
            <input matInput
                type="number"
                placeholder="Hours"
                value="0"
                [(ngModel)]="inputHours"
                (input)="inputChange(inputHours, inputMinutes, inputSeconds)">
        </mat-form-field>
        <mat-form-field>
            <input matInput
                type="number"
                placeholder="Minutes"
                value="0"
                [(ngModel)]="inputMinutes"
                (input)="inputChange(inputHours, inputMinutes, inputSeconds)">
        </mat-form-field>
        <mat-form-field>
            <input matInput
                type="number"
                placeholder="Seconds"
                value="0"
                [(ngModel)]="inputSeconds"
                (input)="inputChange(inputHours, inputMinutes, inputSeconds)">
        </mat-form-field>
        <button mat-button (click)="endSetTime()">
            Done
        </button>
    </div>
</ng-container>

<ng-template #timeDisplay>
    <div (click)="startSetTime()">
        <ng-container *ngIf="hoursDigitTwo || hoursDigitOne">
            <span class="act-hide time-display-digit"
                tabindex="0">{{hoursDigitTwo}}</span>
            <span class="act-hide time-display-digit"
                tabindex="0">{{hoursDigitOne}}</span>
            <span class="act-hide time-display-sep">h</span>
        </ng-container>
        <ng-container *ngIf="minutesDigitTwo || minutesDigitOne">
            <span class="act-hide time-display-digit"
                tabindex="0">{{minutesDigitTwo}}</span>
            <span class="time-display-digit"
                tabindex="0">{{minutesDigitOne}}</span>
            <span class="time-display-sep">m</span>
        </ng-container>
        <span class="time-display-digit"
                tabindex="0">{{secondsDigitTwo}}</span>
        <span class="time-display-digit"
                tabindex="0">{{secondsDigitOne}}</span>
        <span class="time-display-sep">s</span>
        <ng-container *ngIf="showHundriths">
            <span class="time-display-digit time-display-small-digit"
                tabindex="0">{{cSecondsDigitTwo}}</span>
            <span class="time-display-digit time-display-small-digit"
                tabindex="0">{{cSecondsDigitOne}}</span>
        </ng-container>
    </div>
</ng-template>



